#editor {
    height: calc(100% - 30px); /* calculates height minus navbar */ 
    width: 100%;
    z-index: 4;
    display: block;
    opacity: 0.9;
}

html, body {
    height: 100%;
    margin: 0;
    background: url("/img/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    height: 30px;
    opacity: 1;
}

.popup {
    width: 50%;
    text-align: center;
    height: 70%;
    background-color: rgba(45, 45, 45, 0.9);
    z-index: 10;
    position: fixed;
    left: 25%;
    top: 15%;
    color: white;
    border-radius: 25px;
    display: none;
}