<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }

    #editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
  </style>
</head>
<body>

<pre id="editor"></pre>
<div id="output"></div>

<script src="/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");

    window.onmessage = function(e){
      if (e.data == 'changelang') {
          var lang = prompt("Which programming language");
          if(lang != null) {
            editor.session.setMode("ace/mode/"+lang);
          }
      }
    };
    
    var oldfile = "{{file}}";
    var file = decodeURIComponent(oldfile);

    if(file != "None") {
      editor.setValue(file);
    }

    function refreshoutput() {
      var code = editor.getValue();
      document.getElementById("output").innerHTML = code;
    }
    setInterval(refreshoutput, 1);
</script>

</body>
</html>
