<html>
    <body>
        <a href="?p={{path}}/..">..</a><br>
        {% for entry in folder %}
            {% if entry.is_dir() %}
                <a href='?p={{path}}/{{entry.name}}'>{{entry.name}}</a><br>
            {% else %}
                <a target="_top" href='/?f={{path}}/{{entry.name}}'>{{entry.name}}</a><br>
            {% endif %}
        {% endfor %}
    </body>
</html>