<html>
    <head>
        <title>Editor</title>
        <script src="/cdn/jquery-3.5.1.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="/cdn/font-awesome.min.css">
        <script src="/cdn/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/cdn/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="/cdn/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#" onclick="save()">Save</a>
                      <a class="dropdown-item" href="#" onclick="newfile()">New file</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" onclick="openfile()">Open file</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Editor
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#" onclick="changeLang()">Change language</a>
                      <a class="dropdown-item" href="?f=">New file</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Open file</a>
                    </div>
                  </li>
              </ul>
            </div>
          </nav>
        <div id="editor"><iframe height="100%" width="100%" id="editorbox" src="/editor?f={{file}}" frameborder="0"></iframe></div>
        <div id="popup" class="popup">
            <div id="spacer" style="height: 10%;"></div>
            <h1>Select file</h1>
            <iframe id="filebox" src="/files?p=./" height="80%" width="80%" frameborder="0"></iframe>
        </div>
        <div id="popup2" class="popup">
          <div id="spacer" style="height: 10%;"></div>
          <h1>New file</h1>
          <iframe id="dirbox" src="/selectdir?p=./" height="60%" width="80%" frameborder="0"></iframe>
          <center><input type="text" value="newfile.txt" id="filename"><button onclick="newfileproc()">Save</button></center>
        </div>
    </body>
</html>